<lib-panel>
  <lib-panel-header>
    <i class="material-icons mr-3">pending_actions</i>
    <h4>{{ 'VIEWS.ASSET_DETAILS.ASSET_HISTORY' | translate }}</h4>
  </lib-panel-header>

  <lib-panel-body class="p-0">
    <lib-table class="w-100" [data]="activities" [scrollable]="true">
      <lib-row *libHeaderRowDef>
        <lib-header-cell libHeaderSort="createdAt">
          {{ 'VIEWS.ASSET_DETAILS.CREATED_AT' | translate }}
        </lib-header-cell>
        <lib-header-cell libHeaderSort="activityType">
          {{ 'VIEWS.ASSET_DETAILS.ACTIVITY_TYPE' | translate }}
        </lib-header-cell>
        <lib-header-cell libHeaderSort="createdBy">
          {{ 'VIEWS.ASSET_DETAILS.CREATED_BY' | translate }}
        </lib-header-cell>
      </lib-row>

      <lib-row libDataRow *libDataRowDef="let activity">
        <lib-cell>{{ activity.createdAt | date: 'dd.MM.yyyy | HH:mm' }}</lib-cell>
        <lib-cell>{{ activity.activityType }}</lib-cell>
        <lib-cell
          ><a role="button">{{ activity.createdBy | username | async }}</a></lib-cell
        >
      </lib-row>

      <lib-row libEmptyRow *libEmptyRowDef>
        <span>No activities found</span>
      </lib-row>
    </lib-table>
  </lib-panel-body>
</lib-panel>
