<lib-panel *ngIf="tile">
  <lib-panel-header>
    <h4>
      {{ tile.name }}
    </h4>
    <lib-panel-header-actions>
      <button class="btn btn-transparent btn-icon" (click)="onAction('back')">
        <i class="material-icons">navigate_before</i>
      </button>
      <span>{{ tile.order }}/{{ totalTiles }}</span>
      <button class="btn btn-transparent btn-icon" (click)="onAction('next')">
        <i class="material-icons">navigate_next</i>
      </button>
      <div ngbDropdown placement="bottom-right" class="btn-group">
        <button ngbDropdownToggle class="btn btn-transparent btn-icon">
          <i class="material-icons mi-26">more_vert</i>
        </button>
        <div ngbDropdownMenu class="text-right">
          <button ngbDropdownItem (click)="onAction('edit')">
            {{ 'VIEWS.ANALYTICS_RULES.EDIT' | translate }}
          </button>
          <button ngbDropdownItem (click)="onAction('delete')">
            {{ 'VIEWS.ANALYTICS_RULES.DELETE' | translate }}
          </button>
        </div>
      </div>
    </lib-panel-header-actions>
  </lib-panel-header>

  <lib-panel-body class="p-0 panel-body position-relative">
    <div class="main-frame">
      <div>
        {{ 'VIEWS.ADMIN_DASHBOARD.TITLE' | translate }}: <b>{{ tile.name }}</b>
      </div>
      <div>
        {{ 'VIEWS.ADMIN_DASHBOARD.MACHINE_VARIABLE' | translate }}:
        <b>{{ tile.machineVariable?.name }}</b>
      </div>
      <div>
        {{ 'VIEWS.ADMIN_DASHBOARD.PANEL' | translate }}: <b>{{ grafanaDashboardTitle$ | async }}</b>
      </div>
    </div>
  </lib-panel-body>
</lib-panel>
