<div class="gf-buildingset-container">
  <div class="gf-buildingset-sidebar">
    <lib-sidebar
      class="sidebar"
      *ngIf="treeNode"
      [title]="'Equipment'"
      [treeNode]="treeNode"
      [treeNodeStatus]="treeNodeStatus"
      [activeTreeNode]="activeTreeNode"
      (treeNodeSelect)="onTreeNodeSelect($event)"
    ></lib-sidebar>
  </div>
  <div class="gf-buildingset-body d-flex">
    <app-grafana-building-set-asset
      [assetId]="selectedAssetId"
      *ngIf="selectedAssetId"
    ></app-grafana-building-set-asset>
  </div>
</div>
