<lib-panel>
  <lib-panel-header>
    <i class="material-icons mr-3">folder_open</i>
    <h4>{{ 'VIEWS.ASSET_DETAILS.DOCUMENTS' | translate }}</h4>

    <lib-panel-header-actions>
      <button class="btn btn-outline-primary" (click)="onAdd()">
        <span> {{ 'VIEWS.ASSET_DETAILS.ADD_DOCUMENT' | translate }} </span>
      </button>
    </lib-panel-header-actions>
  </lib-panel-header>

  <lib-panel-body class="p-0">
    <lib-table class="w-100" [data]="documents" [scrollable]="true">
      <lib-row *libHeaderRowDef>
        <lib-header-cell libHeaderSort="alias">
          {{ 'VIEWS.ASSET_DETAILS.DESCRIPTION' | translate }}
        </lib-header-cell>
        <lib-header-cell libHeaderSort="createdAt">
          {{ 'VIEWS.ASSET_DETAILS.TYPE' | translate }}
        </lib-header-cell>
        <lib-header-cell libHeaderSort="createdBy">
          {{ 'VIEWS.ASSET_DETAILS.CREATED_BY' | translate }}
        </lib-header-cell>
        <lib-header-cell></lib-header-cell>
      </lib-row>

      <lib-row libDataRow *libDataRowDef="let document; let i = index">
        <lib-cell>{{ document.description }}</lib-cell>
        <lib-cell
          ><a [href]="documentIdToUrl(document.documentId)" target="_blank">{{
            document.documentType
          }}</a>
        </lib-cell>
        <lib-cell>{{ document.createdBy | username | async }}</lib-cell>
        <lib-cell class="p-0 overflow-visible">
          <div ngbDropdown placement="bottom-right" class="btn-group">
            <button ngbDropdownToggle class="btn btn-transparent btn-icon">
              <i class="material-icons mi-26">more_vert</i>
            </button>

            <div ngbDropdownMenu class="text-right">
              <button ngbDropdownItem (click)="onEdit(document, i)">
                {{ 'VIEWS.ASSET_DETAILS.EDIT' | translate }}
              </button>

              <button ngbDropdownItem class="text-danger" (click)="onRemove(i)">
                {{ 'VIEWS.ASSET_DETAILS.REMOVE' | translate }}
              </button>
            </div>
          </div>
        </lib-cell>
      </lib-row>

      <lib-row libEmptyRow *libEmptyRowDef>
        <span>No documents found</span>
      </lib-row>
    </lib-table>
  </lib-panel-body>
</lib-panel>
