<lib-panel>
  <lib-panel-header>
    <h4>{{ 'VIEWS.DOCUMENT_TYPE_DETAILS.LINKED_DOCUMENTS' | translate }}</h4>
  </lib-panel-header>

  <lib-panel-body class="p-0">
    <lib-table class="w-100" [data]="documents" [scrollable]="true">
      <lib-row *libHeaderRowDef>
        <lib-header-cell>
          {{ 'VIEWS.DOCUMENT_TYPE_DETAILS.DOCUMENT_NAME' | translate }}
        </lib-header-cell>
      </lib-row>

      <lib-row libDataRow *libDataRowDef="let document">
        <lib-cell [multilang]="document.name"></lib-cell>
      </lib-row>

      <lib-row libEmptyRow *libEmptyRowDef>
        <span>{{ 'VIEWS.DOCUMENT_TYPE_DETAILS.NO_DOCUMENTS' | translate }}</span>
      </lib-row>
    </lib-table>
  </lib-panel-body>
</lib-panel>
