<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="d-flex justify-content-between align-items-center content">
    <div class="navigation">
      <a [routerLink]="['/steps-library']">
        <u>{{ 'MAINTENANCE_STEP_LIBRARY.TITLE' | translate }}</u>
      </a>
      > {{ 'MAINTENANCE_STEP_LIBRARY.CREATE_NEW_MAINTENANCE_STEP' | translate }}
    </div>
    <div class="header-actions">
      <a class="btn btn-outline font-weight-bold" (click)="onCancel()">
        <u>{{ 'HEADER_ACTIONS.CANCEL' | translate }}</u>
      </a>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
        {{ 'HEADER_ACTIONS.SAVE_CHANGES' | translate }}
      </button>
    </div>
  </div>
  <mnt-maintenance-procedure-step-form
    formControlName="step"
    [saveToLibrary]="saveToLibrary"
    [availableTags]="availableTags$ | async"
  ></mnt-maintenance-procedure-step-form>
</form>
