@import 'variables';

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .main {
    flex: 1;
  }
}

.executions-counts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
  border: 1px solid $gray-400;

  .executions-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .title {
      font-weight: bold;
    }

    &:not(:last-of-type) {
      border-right: 1px solid $gray-400;
    }
  }

  .not-yet {
    color: $gray-600;
  }

  .over-due {
    color: $red;
  }
}

lib-sidebar {
  margin-right: 0;
  border-right: 1px solid $gray-300;
}
